<html>
<head>
  <title>Sketch</title>

  <!-- Sketch Scripts -->
  {for script in scripts}
  <script src="{script}"></script>
  {/for}
</head>
<body>
  <h1>{attr.name}</h1>
  {if attr.author}
  <h2>By {attr.author}</h2>
  {/if}
</body>
</html>
